@use '../../../styles/scss/variables/colors' as *;

.spinner-loading {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, $loading-color-spinner-1 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, $loading-color-spinner-2);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: spin-load 1s infinite linear;
  }
}

@keyframes spin-load {
  100% {
    transform: rotate(1turn);
  }
}
