@use '../../styles/scss/mixins/typography' as *;
@use '../../styles/scss/variables/colors' as *;

.learn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > h1 {
    @include font-custom(18, 56, left, 'Inter', 800, $page-title);
    white-space: normal;
    word-break: break-word;
    hyphens: auto;
  }
}
