$main-layout-background: #ffffff;

$link-font: #000000;
$link-logo-background: #000000;

$page-title: #0f172a;
$page-paragraph: #020202;

$course-card-logo-background: #000000;
$course-card-title: #080808;
$course-card-description: #101010;
$course-card-button-text: #ffffff;
$course-card-button-background: #7142ff;
$course-card-background: #d9d9d9;
$course-card-status-text: #7142ff;

$course-display-title: #0f172a;
$course-display-paragraph: #020202;
$course-display-price: #0f172a;
$course-display-date: #020202;
$course-display-button-text: #ffffff;
$course-display-button-background: #7142ff;

$video-display-title: #0f172a;

$loading-color-spinner-1: #7142ff;
$loading-color-spinner-2: #7142ff;

$scroll-thumb-color: #7142ff;
$scroll-track-background: #d9d9d9;

$favorite-color: #000000;
$favorite-color-alt: #7142ff;
